html {
  font-size: 10px;
  font-family: Oswald;
  background-color: rgb(235, 227, 227);
}

#welcome-header {
}

/* CONTAINERS */
.main-container {
  width: 900px;
  height: 600px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgb(241, 232, 217);
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px rgb(148, 142, 142);
}

.scheduler-header-container {
  width: 880px;
  height: 40px;
  background-color: rgb(221, 198, 198);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.scheduler-container {
  width: 840px;
  height: 500px;
}

.scheduler-row-container {
  width: 840px;
  height: 100px;
  display: flex;
  flex-flow: row;
}

.scheduler-day-container {
  width: 118px; /* 840/7 - 2 (border)*/
  height: 100px;
  border: 1px solid rgb(255, 255, 255);
}

.btn-container {
  width: 65px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

/* BUTTONS */
.scheduler-btn {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background: transparent;
}

.scheduler-btn_left_enable {
  border-left: none;
  border-right: 15px solid rgb(240, 237, 237);
  &:hover {
    border-right-color: rgb(238, 138, 138);
  }
  &:active {
    border-right-color: rgb(121, 58, 58);
  }
}

.scheduler-btn_left_disable {
  border-left: none;
  border-right: 15px solid rgb(65, 62, 62);
}

.scheduler-btn_right_enable {
  border-left: 15px solid rgb(240, 237, 237);
  border-right: none;
  &:hover {
    border-left-color: rgb(238, 138, 138);
  }
  &:active {
    border-left-color: rgb(121, 58, 58);
  }
}

.scheduler-btn_right_disable {
  border-left: 15px solid rgb(65, 62, 62);
  border-right: none;
}
